/* ======================== */
/* 
    Ignore the following styles. They are not important to achieve the effect.
    I'm only using them for looks (overall page background/font styles/centering content).
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: 'Poppins', sans-serif;
  background-color: #1a1a24;
}

/* ======================== */
.container {
  position: relative;
  width: 250px;
  height: 300px;
  border: 4px solid #fff;
}

.container::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 15;
  background-color: rgb(0 0 0 / 25%);
  opacity: 0;
  transition: opacity .5s;
}

.container:hover::after {
  opacity: 1;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: cycle 1.5s linear infinite 0s forwards;
  animation-play-state: paused;
}

.container:hover .image {
  animation-play-state: running;
}

.image-1 {
  z-index: 10;
}

.image-2 {
  z-index: 9;
  animation-delay: .15s;
}

.image-3 {
  z-index: 8;
  animation-delay: .3s;
}

.image-4 {
  z-index: 7;
  animation-delay: .45s;
}

.image-5 {
  z-index: 6;
  animation-delay: .600s;
}

.image-6 {
  z-index: 5;
  animation-delay: .75s;
}

.image-7 {
  z-index: 4;
  animation-delay: .900s;
}

.image-8 {
  z-index: 3;
  animation-delay: 1.05s;
}

.image-9 {
  z-index: 2;
  animation-delay: 1.2s;
}

.image-10 {
  z-index: 1;
  animation-delay: 1.35s;
}

@keyframes cycle {
  from {
    visibility: visible;
    z-index: 11;
  }

  to {
    visibility: hidden;
    z-index: 0;
  }
}