/* ======================== */
/* 
    Ignore the following styles. They are not important to achieve the effect.
    I'm only using them for looks (overall page background/font styles/centering content).
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: 'Poppins', sans-serif;
  background-color: #23222a;
  font-weight: 300;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

/* ======================== */
.link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

.link::before,
.link::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #e65454;
  transform: scaleX(0);
  transition: transform .25s;
}

.link::before {
  top: -3px;
  transform-origin: left;
}

.link::after {
  bottom: -3px;
  transform-origin: right;
}

.link:hover::before,
.link:hover::after {
  transform: scaleX(1);
}