/* ======================== */
/* 
    Ignore the following styles. They are not important to achieve the effect.
    I'm only using them for looks (overall page background/font styles/centering content).
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #151515;
    display: grid;
    place-content: center;
    height: 100vh;
    padding: 55px;
    color: #fff;
}

/* ======================== */
.card-wrapper {
    max-width: 760px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.card {
    position: relative;
    display: flex;
    min-height: 300px;
    background:
        linear-gradient(43deg, #4158D0 0%,
            #c850c0 46%, #ffcc70 100%);
}

.card::before,
.card::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
}

.card::before {
    border-style: solid;
    border-width: 0 0 50px 50px;
    border-color: transparent transparent #fff transparent;
    transition: border .25s;
}

.card::after {
    content: 'Go';
    bottom: 15px;
    right: 15px;
    color: #151515;
    font-size: 21px;
    opacity: 0;
}

.card:hover::before {
    border-width: 0 0 100px 100px;
}

.card:hover::after {
    opacity: 1;
    transition: opacity .5s;
}

.card__title {
    margin: auto;
    font-size: 36px;
}