/* ======================== */
/* 
    Ignore the following styles. They are not important to achieve the effect.
    I'm only using them for looks (overall page background/font styles/centering content).
*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #151515;
    height: 100vh;
    display: grid;
    place-content: center;
    font-family: sans-serif;
}

/* ======================== */

.icon {
    color: #fff;
    animation: first_color .5s ease-in-out infinite alternate;
    /*Since the icons share similar animation properties we will just add it here then change the animation name.*/
}

/*Adding the different animation names for the different color effects.*/
.icon:nth-child(2) {
    animation-name: second_color;
}

.icon:nth-child(3) {
    animation-name: third_color;
}

/*To achieve this neon effect we will layer 3 shadows each one with an increment of 10 for the blur. */
/* At the first stop the glow will be larger than the last stop. This way we create a growing effect as it cycles thru. */
@keyframes first_color {
    0% {
        text-shadow: 0 0 10px #ff1177,
            0 0 20px #d6249f, 0 0 30px #285AEB
    }

    100% {
        text-shadow: 0 0 5px #ff1177,
            0 0 10px #d6249f, 0 0 15px #285AEB
    }
}

@keyframes second_color {
    0% {
        text-shadow: 0 0 10px #1877f2,
            0 0 20px #1459b3, 0 0 30px #179bff
    }

    100% {
        text-shadow: 0 0 5px #1877f2,
            0 0 10px #1459b3, 0 0 15px #179bff
    }
}

@keyframes third_color {
    0% {
        text-shadow: 0 0 10px #25d366,
            0 0 20px #48ee85, 0 0 30px #0ec0a5
    }

    100% {
        text-shadow: 0 0 5px #25d366,
            0 0 10px #48ee85, 0 0 15px #0ec0a5
    }
}