/* Import fonts */
@font-face {
    font-family: Chronicle Display;
    src: url('../fonts/ChronicleDisplay.woff');
}

@font-face {
    font-family: Gilroy;
    src: url('../fonts/Gilroy.woff');
}

/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy';
    background-color: #0b1d26;
    line-height: 3.2rem;
}

/* Limits how wide the content will stretch to and when it has enough room it will center in the middle of the page. */
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 22px;
}
/* Main parallax styles. */
.showcase {
    position: relative;
    /* As usual, we set the position to relative because some of the children will have position of absolute. */
    height: 1000px;
    /* Setting an initial height so that the content does not collapse once we set a position of absolute for the children. */
}

/* Creating a dark overlay layer. This will be used to give the text more contrast since the images are a little bright. */
.showcase::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg,
            rgba(0, 0, 0, .6), transparent 77%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    /* Using a rather higher number here for the z-index to make sure that this layer stays on top of all the images. */
}

.showcase-data {
    padding-top: 150px;
    /* Pushing the text down from the top by 150px using padding. */
    max-width: 1000px;
    /* Limiting the how wide the text can stretch to but also giving it room to get smaller if it has to. */
    position: relative;
    /*You need to set a position to be able to set a z-index. We set it to relative even though we wont use position absolute on a children. */
    z-index: 100;
    /* Setting a higher z-index than the overlay later because we want the text to sit on top. If not, the text will be behind. */
}

/* General styles for the tagline. */
.tagline {
    display: inline-block;
    font-size: 14px;
    color: #fbd784;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
    margin-left: 55px;
    margin-bottom: 16px;
    position: relative;
    /* As usual, we set the position to relative because some of the children (the tagline::before) will have position of absolute. */
}

/* This will be the line you see before the tagline text. */
.tagline::before {
    content: "";
    width: 40px;
    height: 2px;
    background-color: #fbd784;
    position: absolute;
    top: 50%;
    /* Moving it to the center to align it with the text vertically. */
    left: -55px;
    transform: translateY(-50%);
    /* Since top: 50% will align it from the very top we use transform translate -50% to make sure we align it from the center of this element. */
}

/* General title styles. */
.title {
    font-family: 'Chronicle Display';
    font-size: clamp(50px, 10vw, 100px);
    font-weight: 300;
    text-transform: capitalize;
    color: #fff;
    line-height: 1.3;
    margin-bottom: 24px;
}

/* General button styles. */
.btn {
    display: inline-flex;
    column-gap: 10px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

/* General styles for all the parallax images. */
.parallax-img {
    width: 100%;
    min-height: 600px;
    position: absolute;
    left: 0;
    object-fit: cover;
    /* Sets how the content of a replaced element, such as an <img> or <video>, should be resized to fit its container. Cover maintains its aspect ratio while filling the element's entire content box. */
    object-position: 30% 50%;
    /* Specifies the alignment of the selected element. We are using it to move the image position a bit, the first number corresponds to the X coordinate and the second number to the Y coordinate. */
}

/* 
    This is where we position all the images strategically so that they all fit together like a puzzle.
    There's no science to this, you just have to play around with the numbers until you get the desired result.
*/
.img-top {
    top: 0;
}

.img-middle {
    top: 35%;
}

.img-bottom {
    top: 55%;
    z-index: 110;
    /* We want this bottom image to still be on top of the overlay as well as the showcase data text so we make the z-index even higher. */
}