/* ======================== */
/* 
    Ignore the following styles. They are not important to achieve the effect.
    I'm only using them for looks (overall page background/font styles/centering content).
*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #151515;
    height: 100vh;
    display: grid;
    place-content: center;
    font-family: sans-serif;
}
.icons-wrapper{
    position: relative;
}

.icons-wrapper::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
/* ======================== */
.icon{
    display: inline-block; /*Makes the icons inline block level elements. This will let us animate the transform property.*/ 
    font-size: 44px;
    animation: float 3s ease-in-out infinite; /*Applies the float keyframe animation over 5s and makes it run infinitely.*/
}

/*
    The following styles will add linear gradient background to the text then it will clip the text shape into the background.
    The result is gradient text.
*/
.ri-instagram-line{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* This is the first item so no animation delay needed.*/
}

.ri-facebook-circle-line{
    color: #1877f2;
    animation-delay: 1s; /* Adds a animation delay of 1 seconds.*/
}

.ri-whatsapp-line{
    color: #25d366;
    animation-delay: 2s; /* Adds a animation delay of 2 seconds.*/
}

@keyframes float {
    0%{
        transform: translateY(0); /*The starting point of the animation is 0.*/
    }
    50%{
        transform: translateY(-15px); /*The middle point of the animation is -15xp. This will move the element up.*/
    }
    100%{
        transform: translateY(0); /*The last point of the animation is going back to the starting state of 0.*/
    }
}
