/* ======================== */
/* 
    Ignore the following styles. They are not important to achieve the effect.
    I'm only using them for looks (overall page background/font styles/centering content).
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #212534;
    display: grid;
    place-content: center;
    height: 100vh;
}

/* ======================== */

.cta {
    display: flex;
    align-items: center;
    color: #fff;
    background: none;
    border: none;
    padding: 12px 18px;
    position: relative;
}

.cta:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(calc(100% + 4px));
    width: 45px;
    height: 45px;
    background: #dc143c;
    border-radius: 50px;
    transition: transform .25s .25s cubic-bezier(0, 0, .5, 2), width .25s cubic-bezier(0, 0, .5, 2);
    z-index: -1;
}

.cta:hover::before {
    width: 100%;
    transform: translateY(-50%) translateX(-18px);
    transition: transform .25s cubic-bezier(0, 0, .5, 2), width .25s .25s cubic-bezier(0, 0, .5, 2);
}

.cta i {
    margin-left: 5px;
    transition: transform .25s .4s cubic-bezier(0, 0, .5, 2);
}

.cta:hover i {
    transform: translateX(3px);
}